{% extends 'base.html' %}


{% block title %}
  Main Page
{% endblock title %}


{% block content %}
  <h1>TODO list!</h1>
  <br>
  <p>currently you have {{ task_count}} taks</p>
  <a href="{% url 'todolist:task-create' %}">
    <input type="button" value="Add task">
  </a>
  <ul>
    
    {% for task in tasks %}
      <li>
        {{ task }}
        [ <a href="{% url 'todolist:task-update' pk=task.id %}">
          Update
        </a> ]
        [ <a href="{% url 'todolist:task-delete' pk=task.id %}">
          Delete
        </a> ]
        
        <a href="{% url 'todolist:task-complete' pk=task.id%}">
            {% if task.is_done %}
              <input type="button" value="Undo">
            {% else %}
              <input type="button" value="Complete">
            {% endif %}
        </a>
      </li>
    {% endfor %}
  </ul>
{% endblock content %}
